@{
    ViewData["Title"] = "Authors";
    @* Keep the lastpage tempdata so it is not clerad *@
    TempData.Keep("lastpage");
}

@* List authors in a table *@
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">Authors</h1>
        </div>
        @* If the user is authetniacted show the creaet button at the top *@
        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-6 text-end">
                <a asp-controller="Author" asp-action="Create" class="btn btn-primary"><i
                    class="bi bi-plus-circle"></i>&nbsp;
                    Create New Author</a>
            </div>
        }
    </div>
    <div class="form-inline float-right">
        <label>Search</label>
        @* Have a text input for the value to search *@
        <input type="text" class="form-control" id="textSearch" />
    </div>
    @* Shorthand for inserting multiple newlines *@
    @for (int i = 0; i < 2; i++)
    {
        <br />
    }
    @* Use partial view to search authors and display in table *@
    <div id="listTable">
        <h1>Loading authors...</h1>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    @* On page load *@
        $(() => {
    @* Get value in search bar *@
                getAuthors();

    @* Add event listener to update table when value of textbox changes *@
                $("#textSearch").on("keyup", () => {
                    getAuthors();
                })
        });

    @* Call partial view with value of textbox *@
        function getAuthors() {
            $.ajax({
                url: '@Url.Action("SearchAuthors", "Author")',
                dataType: "html",
                method: "GET",
                data: { searchText: $("#textSearch").val() },
    @* When we get the data, update the value of the table with the HTML returned *@
                success: function (res) {
                    $("#listTable").html("").html(res);
                },
                error: function (err) {
                    console.error(err);
                }
            })
        }
</script>
