@model User
@{
    ViewData["Title"] = "Login";
    string password = "";
    if (Model != null)
    {
        password = Model.Password;
    }
}

<form method="post" onsubmit="return checkForm(this)">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Login</h2>
            <br />
        </div>
        <div class="mb-3">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" value="@password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            @if (ViewBag.firstTime != false)
            {
                <input type="checkbox" class="form-check-input" name="check" required>
            }
            else
            {
                <input type="checkbox" class="form-check-input" name="check" checked required>
            }
            &nbsp; By clicking login you agree to our <a asp-controller="Home" asp-action="Cookie"> cookie policy </a>
            <br />
            <span class="text-danger" id="checkError" style="visibility: hidden;">Please make sure you agree to our
                <a class="text-danger" asp-controller="Home" asp-action="Cookies">cookie policy</a></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Login</button>

        <a asp-controller="LastPage" asp-action="Cancel" class="btn btn-secondary" style="width:150px">Back</a>
    </div>
</form>

@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />
}
}

<script>
    function checkForm(form) {
        if (!form.check.checked) {
            form.check.focus();
            document.getElementById("checkError").style.visibility = "visible"
            return false;
        }
        return true;
    }
</script>