@using System.Text.RegularExpressions
 <h1 class="text-primary">Cookies</h1>
    <p><em>These are the cookies we use</em></p>
        @{
            string[,] cookie = new string[,]{
                {"Login details", "By using cookies, we are able to store login credentials locally, meaning you don't have to login every time"},
            };

            string replaceString(string input)
            {
                string replaceBi = Regex.Replace(input, "%bi", "BookInfo");
                string makeBold = Regex.Replace(replaceBi, "!BookInfo", "<strong>BookInfo</strong>");
                return makeBold;
            }
        }
        @for (int i = 0; i < cookie.GetLength(0); i++)
        {
            <div class="mt-3 p-3">
                <h2 class="text-secondary">@Html.Raw(replaceString(cookie[i, 0]))</h2>
                <p>@Html.Raw(replaceString(cookie[i, 1]))</p>
            </div>
        }
