@{
    ViewData["Title"] = "Home";
}

<div class="container p-3">
    <h1 class="text-primary">Welcome to BookInfo!</h1>
    <br />
    <div class="mb-3">
        <h2><a class="text-decoration-none text-secondary" asp-action="List" asp-controller="Book">Check out our
                Books!</a></h2>
        <p><em>We have categorsed books, and included authors, publishers and a description showing off the book</em>
        </p>
    </div>
    <div class="mb-3">
        <h2><a class="text-decoration-none text-secondary" asp-action="List" asp-controller="Category">Check out our
                Categories!</a></h2>
        <p><em>Each category, with a description telling you what its about, possibly go out of your preferred genre to
                find something you may love!</em>
        </p>
    </div>

</div>
