@using System.Text.RegularExpressions
@{
    ViewData["Title"] = "Home";
}

<style>
    .homeItem:hover {
        background-color: var(--bs-gray-200);
    }
</style>

<div class="container p-3">
        <h1 class="text-primary">Welcome to BookInfo!</h1>      
        @* TODO: Make link to book list view *@
        <div class="mt-3 p-3">
            <h2><p asp-action="List" asp-controller="Book">Check out our Books!</p></h2>
            <p>
                We have categorised books, and included authors, publishers and a description showing off the book.
            </p>
        </div>
        @* TODO: Make link to category list view *@
        <div class="mt-3 p-3">
            <h2><p asp-action="List" asp-controller="Category">Check out our Categories!</p></h2>
            <p>
                Each category, with a description telling you what its about, possibly go out of your preferred genre to find something you may love!
            </p>
        </div>

        @* 
        2D array of descriptibe paragraphs,
        first element is title, second is paragraph.

        Replace %bi with Book Info, and !%bi makes it bold
         *@
        @{
        string[,] homepage = new string[,]{
            {"What is %bi?", "!%bi is a service that allows school library staff to display the available books at out library! Books are arranged in different categories and you can search by category, author, publisher or book title."},
            {"How much is %bi?", "!%bi is a public website, the service is available to the public and is free for everyone to use."},
            {"What moderation is on %bi?", "!%bi can only be edited by trusted staff, therefore there should be no explicit content on the website at all!"}
        };

        @* Suroutine to replace words in descriptive paragraphs *@
        string replaceString(string input)
        {
            string replaceBi = Regex.Replace(input, "%bi", "BookInfo");
            string makeBold = Regex.Replace(replaceBi, "!BookInfo", "<strong>BookInfo</strong>");
            return makeBold;
        }

        @* Loop through items in array *@
        @for (int i = 0; i < homepage.GetLength(0); i++)
        {
            <div class="mt-3 p-3">
                @* Turn title into HTML element and render it *@
                <h2 class="text-secondary">@Html.Raw(replaceString(homepage[i, 0]))</h2>

                @* Turn paragraph into html element and render it *@
                <p>@Html.Raw(replaceString(homepage[i, 1]))</p>
            </div>
        }
    }

</div>
