@model dynamic
@{
    IQueryable<Book>? books = Model.Books;
    IOrderedQueryable<Category>? categories = Model.Categories;

    if (books.Count() == 0)
    {
        <em>
            @if (!Convert.ToBoolean(TempData["hasItems"]))
            {
                <h3>There are currently no books</h3>
            }
            else
            {
                <h3>Invalid search</h3>
            }
        </em>
    }
    else
    {

        @foreach (Category obj in Model.Categories)
        {
            IOrderedQueryable<Book>? availableBooks = books.Where(book => book.CategoryId == obj.Id).OrderBy(book => book.Name);
            if (availableBooks.Count() == 0)
            {
                continue;
            }
            <a class="h2 text-secondary text-decoration-none" asp-controller="Category" asp-action="Index"
    asp-route-id="@obj.Id">@obj.Name</a>
            <partial name="_CategoryBooks" for="@availableBooks"></partial>
        }
    }
}