@model dynamic
@{
    IQueryable<Book>? books = Model.Books;
    IOrderedQueryable<Category>? categories = Model.Categories;

    if (books.Count() == 0)
    {
        <em>
            @if (ViewBag.hasItems == false)
            {
                <h3>There are currently no books</h3>
            }
            else
            {
                <h3>Invalid search</h3>
            }
        </em>
    }
    else
    {
        @foreach (Category obj in Model.Categories)
        {
            IOrderedQueryable<Book>? categoryBooks = books.Where(book => book.CategoryId == obj.CategoryId).OrderBy(book =>
            book.Name);
            <h2>@obj.Name</h2>
            <partial name="_BookTable" for="@categoryBooks"></partial>
            <br />
        }
    }
}